<section class='nav-bar'>
  <h1>HackDining</h1>

  <div class="nav-bar-menu">
    <button class="dropbtn">Menu
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content hide">
      <a href="javascript:void(0)">Login</a>
      <a href="javascript:void(0)">Register</a>
      <a href="javascript:void(0)">About Us</a>
      <a href="javascript:void(0)">Contact Us</a>
    </div>
  </div>

</section>


<style type="text/css">
  .search-bar-wrapper {
    padding: 0 3rem 0 3rem;
    height: 10rem;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    z-index: 2;
    width:100%;
  }

  .search-bar-wrapper p {
    color: white;
    font-size: 1.5rem;
    font-family: 'Arvo', serif;
  }

  .search-bar {
    display: flex;
    align-items: center;
  }

  .search-bar input {
    height: 2rem;
    width: 30rem;
    border: none;
  }

  .search-bar input::placeholder {
    padding: 1rem;
    font-size: 1rem;

  }

  .search-wrapper {
    display: flex;
    background-image: url(/assets/tropical.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 40rem;
    align-items: flex-end;

  }

  .bg-img{
    width: 100%;
    z-index: 0;
  }

  .search-bar .search-button{
    margin-left: 15px;
    height: 2.5rem;
    width: 10rem ;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    position: relative;
  }

  .search-bar .search-button a{
    font-size: 1rem;
    width: 8rem;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;

  }

  .search-bar .search-button a:hover{
    background-color: none;
  }

  .filter-input {
    display:flex;
    margin-right: 1rem;
  }

  .filter-tab{
    display:flex;
  }

  .filter-form{
    margin: 8rem auto;
    padding: 3rem;
    width: 60%;
    background-color: white;
  }
  .form-top{
    display: flex;
    justify-content: space-between;
  }

  .form-top h2{
    margin-bottom: 2rem;
    margin-top: 0;
  }

  .filter-form p{
    font-size: 1rem;
    font-weight: bold;
  }

  .input-tag{
    margin-right: 0.5rem;
  }

  .filter-panel{
    display:none;
  }

  .filter-panel.active{
    display:block;
    top:0;
    bottom:0;
    position:fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.8);
  }

#filter-search{
  position:relative;
  float: right;
    font-size: 1rem;
    padding:1rem;
    width: 8rem;
    background-color: #c5c5c5;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5rem;
    bottom: 2rem;

}

.close-form{
  text-decoration: none;
  color: black;
  font-size:1.5rem;
}



</style>
<section class='search-box'>
  <div class='search-wrapper'>
    <!--     <%= image_tag "rice.jpg", class: "bg-img" %> -->
    <div class='search-bar-wrapper'>
      <p>Search</p>
      <div class='search-bar'>
        <input type="text" name="res-name" placeholder="Search for your favourite restaurant...">
        <div class='search-button'>
          <a href="javascript:void(0)">Book Now!</a>
        </div>

        <div class='search-button' id='trigger-filter'>
          <a href="javascript:void(0)"> Search Nearby </a>
        </div>
      </div>

    </div>

  </div>

</section>

<section class='filter-panel'>
  <form class='filter-form'>
    <div class='form-top'>
      <h2>What are your preferences? </h2>
      <a class='close-form' href="javascript:void(0);"> X Close </a>

    </div>

    <p>Price Range</p>
    <div class="filter-tab">

      <% price_ranges = ['$', '$$','$$$', '$$$$'] %>
      <% price_ranges.each do |price_range| %>
      <div class="filter-input">
        <%= check_box_tag("price_range", value = price_range, params[:price_range] == price_range ? params[:price_range] : nil, class: "input-tag") %>
        <%= label_tag(:price_range, price_range) %>
      </div>

      <% end %>
    </div>

    <p>Cuisines</p>
    <div class="filter-tab">

      <% cuisines = ["Japanese", "Chinese", "Malay", "Indian", "Italian", "French"] %>
      <% cuisines.each do |cuisine| %>
      <div class="filter-input">
        <%= check_box_tag("cuisine_type", value = cuisine, params[:cuisine] == cuisine ? params[:cuisine] : nil, class: "input-tag") %>
        <%= label_tag(:cuisine, cuisine) %>
      </div>
      <% end %>
    </div>
    <p>Ambience</p>
    <div class="filter-tab">

      <% ambiences = ['Cafe', 'Bar','Pub'] %>
      <% ambiences.each do |ambience| %>
      <div class="filter-input">
        <%= check_box_tag("ambience_type", value = ambience, params[:ambience] == ambience ? params[:ambience] : nil, class: "input-tag") %>
        <%= label_tag(:ambience, ambience) %>
      </div>
      <% end %>
    </div>
    <p>When</p>
    <div class="filter-tab">

      <% eating_times = ['Breakfast', 'Brunch','Lunch', 'Tea Time', 'Dinner'] %>
      <% eating_times.each do |eating_time| %>
      <div class="filter-input">
        <%= check_box_tag("eating_time", value = eating_time, params[:eating_time] == eating_time ? params[:eating_time] : nil, class: "input-tag") %>
        <%= label_tag(:eating_time, eating_time) %>
      </div>
      <% end %>
    </div>




    <a id='filter-search' href="javascript:void(0);"> Search! </a>
  </form>
</section>

